.my-blog{
    color: white;
}

h1{
    font-family: 'Work Sans', sans-serif;
}
body{
    background-color: burlywood;
}

.bg-antiquewhite{
    background-color: antiquewhite
}
.bg-salmon{
    background-color: salmon;
}

p{
    font-family: 'Work Sans', sans-serif;;
}
.dropdown-menu {
    min-width: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
